body{
    font-family: 'Montserrat', sans-serif;
    background: url("../img/backgrnd.png") no-repeat;
    background-size: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
.content h1{
    font-weight: 700px;
    font-size: 30px;
    text-align: center;
}
.header{
    background-color: black;
    height: 60px;

}
.header::after {
  content: "1";
  display: block;
  background: url("../img/Logov3.png");
  width: 270px;
  height: 59px;
}
.login {
display: flex;
justify-content: center;
}
.btn-buttonLogin {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1610px;
    top: 6.67px;
    font-weight: 500px;
    font-size: 18px;
    margin: 5px;
}
.registration{
display: flex;
justify-content: center;
}
.btn-buttonRegistration {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1710px;
    top: 6.67px;
    font-weight: 500px;
    font-size: 18px;
    margin: 5px;
}
.memberArea{
position: absolute;
left: 1420px;
top: 20.67px;
font-weight: 500px;
font-size: 18px;
display: flex;
justify-content: center;
text-decoration: none;
}

