body {
	font-family: 'Montserrat', sans-serif;
	background: url("../img/backgrnd.png") no-repeat;
	background-size: 100%;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
}
.content {
    margin-top: 200px;
}
.header{
    background-color: black;
    height: 60px;
}
.header::after {
  content: "1";
  display: block;
  background: url("../img/Logov3.png");
  width: 270px;
  height: 59px;
}
div.tasksList {
	display: flex;
	justify-content: center;
}
	div.tasksList table {
		border-color: #9EB7DC;
		width: 500px;
		background: white;
		border: 0;
		border-collapse: collapse;
        border-radius: 10px;
	}

	div.tasksList td {
		text-align: center;
		vertical-align: middle;
    }

	div.tasksList h3 {
		color: white;
        margin: 15px;
    }

	div.tasksList a {
		margin: 5px;
		color: grey;
		text-decoration: none;
		font-size: 24px;
	}

		div.tasksList a:hover {
			color: lightgrey;
			text-shadow: 0px 0px 5px lightgrey;
			font-size: 24px;
		}
div.menu {
    float: right;
    padding: 10px;
}

div.menu a {
    margin: 5px;
    color: lightgrey;
    text-decoration: none;
    font-size: 24px;
}

div.menu a:hover {
    color: white;
    text-shadow: 0px 0px 5px white;
    font-size: 24px;
}