<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Support</title>
    <link rel="stylesheet" type="text/css " href="~/css/CreateTask.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="menu">
            <a href="/Index/Index">Главное меню</a>
            <a href="/User/UserPrivatePage">Назад</a>
            <a href="/Index/Index">Выйти</a>
        </div>
    </header>
    <form method="post">
        <h1 title="Форма входа">Создание задачи</h1>
        <div class="group">
            <label for="">Название</label>
            <input type="text" name="Name">
        </div>
        <div class="group">
            <label for="">Описание</label>
            <textarea name="Description" cols="50" rows="5"></textarea>
        </div>
        <div class="group">
            <center><button type="submit">Создать задачу</button></center>
        </div>
    </form>
</body>
</html>