<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Support</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">

        </div>
        <div class="menu">
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("admin"))
                {
                    <a class="btn-buttonLogin" href="/View/ExecutorPrivatePage">Личный кабинет</a>
                }
                @if (User.IsInRole("executor"))
                {
                    <a class="btn-buttonLogin" href="/View/ExecutorPrivatePage">Личный кабинет</a>
                }
                @if (User.IsInRole("user"))
                {
                    <a class="btn-buttonLogin" href="/View/UserPrivatePage">Личный кабинет</a>
                }
            }
            else
            {
                <a class="btn-buttonLogin" href="/View/LogIn">Войти</a>
                <a class="btn-buttonRegistration" href="/View/Registration">Зарегистрироваться</a>
            }
        </div>
    </header>
    <div class="content">
        <h1>
            Есть вопросы? Напишите в нашу службу Тех поддержки!
        </h1>
    </div>
</body>
</html>