<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Support</title>
    <link rel="stylesheet" type="text/css " href="~/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="menu">
            <a href="/Index/Index">Главное меню</a>
            @if (User.Identity.IsAuthenticated)
             {
                @if (User.IsInRole("Executor") || User.IsInRole("Admin"))
                {
                    <a href="/Executor/ExecutorPrivatePage">Задачи</a>
                }
                @if (User.IsInRole("Customer") || User.IsInRole("Admin"))
                {
                    <a href="/User/UserPrivatePage">Мои задачи</a>
                }
             }
            else
            {
                <a href="/Login/LogIn">Войти</a>
                <a href="/Registration/Registration">Зарегистрироваться</a>
            }
        </div>
    </header>
    <form method="post">
        <h1 title="Форма входа">Вход</h1>
        <div class="group">
            <label for="">Login</label>
            <input type="text" name="Login">
        </div>
        <div class="group">
            <label for="">Password</label>
            <input type="password" name="Password">
        </div>
        <div class="group">
                <center><button type="submit">Войти</button></center>
        </div>
    </form>
</body>
</html>