<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Support</title>
    <link rel="stylesheet" type="text/css " href="~/css/registration.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
    <body>
        <header class="header">
            <div class="logo">

            </div>
			<div class="menu">
                <a class="btn-buttonLogin" href="/View/LogIn">Войти</a>
                <a class="btn-buttonRegistration" href="/View/Registration">Зарегистрироваться</a>
            </div>
			</header>
        <div class="content">
            <h1>
                
            </h1>
        </div>
		<form action="">
		<h1 title="Форма входа">Регистрация</h1>
		<div class="group">
            <label for="">Login</label>
			<input type="text">
        </div>
		<div class="group">
			<label for="">Password</label>
			<input type="password">
        </div>
		<div class="group">
			<label for="">Password again</label>
			<input type="password">
        </div>
		<div class="group">
			<center><button>Зарегистрироваться</button></center>
        </div>
		</form>
    </body>
</html>
