<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Support</title>
    <link rel="stylesheet" href="~/css/PrivatePage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">

        </div>
        <div class="menu">
            <a class="btn-buttonLogOut" href="/View/Index">Log Out</a>
        </div>
    </header>
    <div class="content">
        <div class="tasksList">
            <table>
                <tr style="background-color: #1E2734">
                    <td>
                        <h3>Tasks List</h3>
                    </td>
                    <td>
                        <h3>Status</h3>
                    </td>
                    <td>
                        <h3>Priority</h3>
                    </td>
                </tr>
                @foreach (var item in Model)
                {
                <tr style="margin-left: 10px; height: 75px;">
                    <td>
                        <a href="/Index/Index"> @item.Name</a>
                    </td>
                    <td>
                        @{
                            switch (item.Status)
                            {
                                case 0:
                                    <text>Создана</text>
                                    break;
                                case 1:
                                    <text>В работе</text>
                                    break;
                                case 2:
                                    <text>Решена</text>
                                    break;
                            }
                        }
                    </td>
                    <td>
                        @{
                            switch (item.Priority)
                            {
                                case 0:
                                    <text>Низкий</text>
                                    break;
                                case 1:
                                    <text>Нормальный</text>
                                    break;
                                case 2:
                                    <text>Высокий</text>
                                    break;
                                case 3:
                                    <text>Неотложенный</text>
                                    break;
                            }
                        }
                    </td>
                </tr>
                }
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a>Add Task</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
