<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Support</title>
    <link rel="stylesheet" href="~/css/PrivatePage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="menu">
            <a href="/Index/Index">Главное меню</a>
            <div class="logout">
                <form color="white" method="post" asp-controller="Login" asp-action="Logout">
                    <input type="submit" value="Выход" />
                </form>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="tasksList">
            <table>
                <tr style="background-color: #1E2734">
                    <td>
                        <h3>Список задач</h3>
                    </td>
                    <td>
                        <h3>Статус</h3>
                    </td>
                    <td>
                        <h3>Приоритет</h3>
                    </td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr style="margin-left: 10px; height: 75px;">
                        <td>
                            <a href="/User/UserPrivatePageForm/@item.Id"> @item.Name</a>
                        </td>
                        <td>
                            @{
                                switch (item.Status)
                                {
                                    case 0:
                                        <text><h4>
                                                Создана
                                            </h4></text>
                                        break;
                                    case 1:
                                        <text><h4>
                                                В работе
                                            </h4></text>
                                        break;
                                    case 2:
                                        <text><h4>
                                                Решена
                                            </h4></text>
                                        break;
                                }
                            }
                        </td>
                        <td>
                            @{
                                switch (item.Priority)
                                {
                                    case 0:
                                        <text><h4>Низкий</h4></text>
                                        break;
                                    case 1:
                                        <text><h4>Нормальный</h4></text>
                                        break;
                                    case 2:
                                        <text><h4>Высокий</h4></text>
                                        break;
                                    case 3:
                                        <text><h4>Неотложенный</h4></text>
                                        break;
                                }
                            }
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a href="/User/CreateTask">Создать новую задачу!</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
